@page "/"
@layout MainLayout

<PageTitle>.NET Cameroon 🇨🇲 | Home</PageTitle>
<HeadContent>
    <meta name="description" content="Djoufson Che - .NET Fullstack Engineer passionate about open source, Microsoft technologies, and blogging. Explore my projects, technical blog, community work, and get in touch for collaborations.">
</HeadContent>

<div>
    <h1 class="heading heading-1">Hello world</h1>
</div>
