<div class="bg-primary p-2">
    <div class="container mx-auto flex justify-between">
        <div>
            <p class="text-white hover:text-white-hover">&copy; @Year Djoufson Che</p>
        </div>
        <div class="flex gap-4">
            <a href="https://github.com/djoufson" target="_blank" class="text-white hover:text-white-hover" title="Djoufson CHE BENE"><i class="fa-brands fa-github"></i></a>
            <a href="https://linkedin.com/in/djoufson" target="_blank" class="text-white hover:text-white-hover" title="Djoufson CHE BENE"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
</div>

@code{
    public int Year => DateTime.UtcNow.Year;
}
