<div class="bg-primary">
    <div class="container mx-auto flex justify-end gap-4 p-2 px-4">
        <a href="https://github.com/djoufson" target="_blank" class="text-white hover:text-white-hover" title="Djoufson CHE BENE"><i class="fa-brands fa-github"></i></a>
        <a href="https://linkedin.com/in/djoufson" target="_blank" class="text-white hover:text-white-hover" title="Djoufson CHE BENE"><i class="fa-brands fa-linkedin"></i></a>
    </div>
</div>
